*.iml
.gitignore.swp
build/
app/build/
app/libs/
app/*.iml
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
